html{
    display: flex;
    flex: 1 auto;
    height: 100%;
    background-color: var(--bg-color);
    
    // todo, slider to set this var in header
    --max-image-width: 250px;
}

body{
    display: flex;
    flex: 1 auto;
    height: 100%;
    flex-direction: column;
    margin: 0;
}

.jk-img-wrapper
{
    margin: .25rem;

    .jk-img{
        padding: .25rem;
        display: flex;
        max-width: var(--max-image-width);
    }
    
}

#jk-image-gallery{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    // z-index: 1;
    // flex: 1 auto;
}

#jk-feed-bar{
    height: 64px;
    background-color: var(--comfy-menu-bg);
    width: 100%;
}