* {

    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}


html {
    display: flex;
    flex: 1 auto;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);

    // todo, slider to set this var in header
    --max-image-width: 250px;
    --max-image-height: auto;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
}

.jk-img-wrapper {
    padding: 16px;
    margin: .25rem;
    position: relative;
    min-height: 64px;
    min-width: 64px;
    display: grid;
    align-items: start;
    .jk-img {
        padding: .25rem;
        display: flex;
        max-width: var(--max-image-width);
        max-height: var(--max-image-height);
    }

    .jk-img-title{
        
    }

    .jk-spinner-wrap {
        position: relative;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .jk-spinner {
            background-color: transparent;
            border: 4px solid var(--border-color);
            border-top: 4px solid var(--fg-color);
            border-radius: 50%;
            width: 64px;
            height: 64px;
            animation: spin 2s linear infinite;

        }
    }


}

#jk-image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#jk-feed-bar {
    height: 42px;
    background-color: var(--comfy-menu-bg);
    width: 100%;

    .comfyui-button-group {
        display: flex;
        height: 100%;
        padding: 4px;
        &:first-child{
            //padding-left: 0;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}