/* src_web/gallery/image-window.scss */
html {
  display: flex;
  flex: 1 auto;
  height: 100%;
  background-color: var(--bg-color);
}
body {
  display: flex;
  flex: 1 auto;
  height: 100%;
}
#jk-img-container {
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 1;
}
